<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="..\css\estilo_brasil_esportes_news2.css" rel="stylesheet">
        <script language="javascript" src="..\..\script\javascript\script.js"></script>
        <title>News Today</title>
    </head>
    <body>
        <div id="banner">
            <div id="img-banner">
                <img src="..\imagens\banner\banner_news.png" alt="banner" width="210px" height="210px">
                <div id="cont-banner">News Today</div>
            </div>
        </div>
        <div id="conteudo">
            <nav id="menu">
                <ul>
                    <li><a href="..\..\index.html">Home</a></li>
                    <li>|</li>
                    <li><a href="noticias.html">Notícias</a></li>
                    <li>|</li>
                    <li><a href="#">Destaques do dia</a></li>
                    <li>|</li>
                    <li><a href="#">Regiões</a></li>

                </ul>
            </nav>
            <div id="news">
                <h1>Vice-presidente diz que Róger Guedes é 'louco para voltar' ao Atlético</h1>
                <h3>No entanto, Lásaro Cândido diz que transferência é muito difícil</h3>
                <figure id="img_news">
                    <p>
                        <img class=scaled src="..\imagens\noticia\roger.jpg" alt="Rafael Ribeiro/Vasco">
                        <figcaption>Marrony está na mira do clube alvinegro (Foto: Rafael Ribeiro/Vasco)</figcaption>
                    </p>
                </figure>
                <p>
                    O Atlético segue de olho em Róger Guedes, de 23 anos, que pertence ao Shandong Luneng, da China. 
                    O jogador pode ser emprestado a um clube brasileiro até o fim da temporada. De acordo com o 
                    vice-presidente do Galo, Lásaro Cândido da Cunha, o atacante é ‘louco para voltar’ ao clube.
                </p>
                <p>
                    “O (Róger) Guedes já ligou várias vezes para o Atlético. Ele é louco para voltar. Mas não dá para 
                    fazer loucura. Se for para fazer loucura eu sou contra, mas não sou eu que defino isso”, disse Lásaro,
                    em entrevista ao Fala Galo. Ele completou afirmando que vê muitas dificuldades para concluir a transferência.
                </p>
                <p>
                    “O Róger Guedes tem um salário muito alto. Acho muito difícil. Exceto se os chineses pagarem. 
                    É um valor muito alto”. 
                </p>
                <p>
                    De acordo com o jornalista Jorge Nicola, o empresário Paulo Pitombeira foi avisado pelo Shandong que Róger
                    Guedes está liberado para acertar com um clube brasileiro em 2020. Os chineses arcariam com 100% dos salários 
                    do atleta no período de empréstimo.
                </p>
                <p>
                    A cessão de Róger se deve à suspensão temporária da entrada de estrangeiros na China. Em 26 de março, o Ministério
                    das Relações Internacionais do país asiático anunciou a decisão em razão da pandemia do novo coronavírus.
                </p>
                <p>
                    Como está no Brasil e não tem nacionalidade chinesa, Guedes não poderia regressar de imediato ao Shandong. Porém, um
                    eventual acordo com o Atlético depende do pagamento de multa de 3 milhões de euros (R$ 16,8 milhões) ao Palmeiras.
                </p>
                <p>
                    Curiosamente, a cláusula foi inserida por Alexandre Mattos, então diretor-executivo do Verdão e que hoje conduz justamente
                    o departamento de futebol do Galo. A indenização ao clube paulista seria aplicada em caso de empréstimo do atacante a outro 
                    clube brasileiro.
                </p>
                <p>
                    Em entrevista no dia 21 de abril, Mattos afirmou que Róger Guedes tem vontade de retornar ao Atlético, pelo qual conseguiu
                    se destacar em 2018 ao marcar 13 gols (nove no Campeonato Brasileiro) em 28 partidas.  
                </p>
                <p>
                    O próprio atacante revelado no Criciúma já demonstrou seu carinho pelo alvinegro em suas redes sociais. Em mais de uma
                    ocasião, ele publicou stories no Instagram assistindo partidas do time, bem como provocando o rival Cruzeiro.
                </p>
                <p>
                    Apesar de viver dificuldades financeiras - tanto pela pandemia de COVID-19 quanto pela dívida total de R$ 656 milhões -, 
                    o Galo reforça o elenco comandado por Jorge Sampaoli. As contratações recentes são dos meio-campistas Léo Sena, do Goiás, 
                    e Alan Franco, ex-Independiente del Valle.
                </p>
                <p>
                    Para realizar os investimentos, o clube conta com os aportes financeiros de dois patrocinadores: banco BMG, do ex-presidente
                    Ricardo Guimarães, e construtora MRV, do conselheiro Rubens Menin. Conforme o presidente Sérgio Sette Câmara, os empresários
                    doam parte dos valores que complementam o salário de Sampaoli.
                </p>

            </div>
            <footer>
                <nav>
                    <h2>Navegue no site</h2>
                    <ul>
                        <li><a href="..\..\index.html"><img src="..\imagens\icones\ico_inicio.png" width="30px" height="30px">Inicio</a></li> 
                        <li><a href="#"><img src="..\imagens\icones\ico_historico.png" width="30px" height="30px">Histórico de notícias</a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_colaborador.png" width="30px" height="30px">Seja um colaborarador</a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_quem_somos.png" width="30px" height="30px">Quem somos</a></li>
                    </ul>
                </nav>
                <nav>
                    <h2>Fique conectado !</h2>
                    <ul>
                        <li><a href="#"><img src="..\imagens\icones\ico_email.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_twitter.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_facebook.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_github.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_whatsapp.png" width="30px" height="30px"></a></li>
                    </ul>
                </nav>
                <small>Copyright © 2020 </small>
            </footer>
        </div>
    </body>
</html>