<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="..\css\estilo_brasil_esportes_news3.css" rel="stylesheet">
        <script language="javascript" src="..\..\script\javascript\script.js"></script>
        <title>News Today</title>
    </head>
    <body>
        <div id="banner">
            <div id="img-banner">
                <img src="..\imagens\banner\banner_news.png" alt="banner" width="210px" height="210px">
                <div id="cont-banner">News Today</div>
            </div>
        </div>
        <div id="conteudo">
            <nav id="menu">
                <ul>
                    <li><a href="..\..\index.html">Home</a></li>
                    <li>|</li>
                    <li><a href="noticias.html">Notícias</a></li>
                    <li>|</li>
                    <li><a href="#">Destaques do dia</a></li>
                    <li>|</li>
                    <li><a href="#">Regiões</a></li>

                </ul>
            </nav>
            <div id="news">
                <h1>Edilson admite surpresa por rescisão, mas deseja sorte ao Cruzeiro: 'Força da camisa vai superar adversidades'</h1>
                <h3>Por decisão da nova diretoria, lateral-direito deixou o clube nesta sexta</h3>
                <figure id="img_news">
                    <p>
                        <img class=scaled src="..\imagens\noticia\edilson.jpg" alt="Rafael Ribeiro/Vasco">
                        <figcaption>Cruzeiro decidiu rescindir o contrato do lateral-direito Edilson (Foto: Bruno Haddad/Cruzeiro)</figcaption>
                    </p>
                </figure>
                <p>
                    Depois de ter o contrato rescindido pelo Cruzeiro, o lateral-direito Edilson foi ao Instagram
                    para se despedir dos torcedores. Em longa mensagem, ele admitiu ter ficado surpreso com a 
                    decisão tomada pelo novo presidente, Sérgio Santos Rodrigues. Apesar disso, garantiu que 
                    foi tratado com ‘elegância’ e ‘respeito’ pelos novos gestores da Raposa.  
                </p>
                <p>
                    “Não posso dizer que não fiquei surpreso com a decisão da diretoria do Cruzeiro. Desde o 
                    início do ano tenho feito todos os esforços para colaborar com o momento do clube e cheguei
                    a reduzir meus vencimentos de maneira significativa. Também não foi a maneira que imaginei 
                    sair daqui. Um lugar que me recebeu muito bem e onde fui vitorioso conquistando uma Copa do 
                    Brasil e dois Estaduais”, escreveu.
                </p>
                <p>
                    “Fica meu lamento pelo projeto não ter sido concluído da maneira imaginada. Mas com muito 
                    orgulho de ter jogado no Cruzeiro Esporte Clube. A nova diretoria do Cruzeiro foi transparente
                    e me tratou de maneira objetiva, elegante e respeitosa. Deixo claro também que desejo toda a 
                    sorte do mundo à essas pessoas que hoje comandam uma das maiores agremiações do país”, complementou. 
                </p>
                <p>
                    Em sua mensagem de despedida, o lateral-direito, que deixa o clube ao lado de Robinho, também mostrou
                    otimismo em relação ao ano do Cruzeiro. “Estava com o objetivo de fazer o Cruzeiro voltar para o seu lugar, 
                    a primeira divisão do Brasileiro. Será um ano difícil, mas tenho certeza de que a força dessa camisa irá superar as 
                    adversidades”, finalizou. Leia a mensagem de Edilson na íntegra ao fim desta reportagem.
                </p>
                <p>
                    Robinho e Edilson faziam parte do grupo de jogadores que tinham remunerações acima do “teto” de R$ 150 mil 
                    estipulado pelo conselho gestor no início da temporada. Assim como o goleiro Fábio, o zagueiro Leo e o volante 
                    Ariel Cabral, eles aceitaram receber dentro dos limites orçamentários do Cruzeiro, com a diferença sendo parcelada 
                    a partir de abril de 2021. Com salário de R$ 500 mil, o lateral-direito tinha contrato com a Raposa até dezembro de 2020.
                </p>
                <p>
                    Edilson foi contratado ao Grêmio, no início de 2018, em negociação que envolveu os meias Alisson e Thonny Anderson. 
                    O lateral, contudo, não conseguiu cair nas graças dos torcedores. Apesar de ter se sagrado campeão da Copa do Brasil, em 2018, e do 
                    Campeonato Mineiro, em 2018 e 2019, ele alternou bons e maus momentos, sendo por várias vezes substituído em sua posição pelo volante 
                    Lucas Romero. Com a camisa celeste, anotou três gols em 75 jogos.
                </p>
            </div>
            <footer>
                <nav>
                    <h2>Navegue no site</h2>
                    <ul>
                        <li><a href="..\..\index.html"><img src="..\imagens\icones\ico_inicio.png" width="30px" height="30px">Inicio</a></li> 
                        <li><a href="#"><img src="..\imagens\icones\ico_historico.png" width="30px" height="30px">Histórico de notícias</a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_colaborador.png" width="30px" height="30px">Seja um colaborarador</a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_quem_somos.png" width="30px" height="30px">Quem somos</a></li>
                    </ul>
                </nav>
                <nav>
                    <h2>Fique conectado !</h2>
                    <ul>
                        <li><a href="#"><img src="..\imagens\icones\ico_email.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_twitter.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_facebook.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_github.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_whatsapp.png" width="30px" height="30px"></a></li>
                    </ul>
                </nav>
                <small>Copyright © 2020 </small>
            </footer>
        </div>
    </body>
</html>