<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="..\css\estilo_brasil_esportes_news1.css" rel="stylesheet">
        <script language="javascript" src="..\..\script\javascript\script.js"></script>
        <title>News Today</title>
    </head>
    <body>
        <div id="banner">
            <div id="img-banner">
                <img src="..\imagens\banner\banner_news.png" alt="banner" width="210px" height="210px">
                <div id="cont-banner">News Today</div>
            </div>
        </div>
        <div id="conteudo">
            <nav id="menu">
                <ul>
                    <li><a href="..\..\index.html">Home</a></li>
                    <li>|</li>
                    <li><a href="noticias.html">Notícias</a></li>
                    <li>|</li>
                    <li><a href="#">Destaques do dia</a></li>
                    <li>|</li>
                    <li><a href="#">Regiões</a></li>

                </ul>
            </nav>
            <div id="news">
                <h1>Atlético aguarda resposta do Vasco por Marrony</h1>
                <h3>Jovem atacante de 21 anos foi indicado ao clube pelo técnico Jorge Sampaoli</h3>
                <figure id="img_news">
                    <p>
                        <img class=scaled src="..\imagens\noticia\marrony.jpg" alt="Rafael Ribeiro/Vasco">
                        <figcaption>Marrony está na mira do clube alvinegro (Foto: Rafael Ribeiro/Vasco)</figcaption>
                    </p>
                </figure>
                <p>
                    O Atlético mira mais um reforço para a sequência da temporada. Após as contratações
                    de Léo Sena e Alan Franco, o clube alvinegro aguarda uma resposta do Vasco pelo atacante
                    Marrony. 
                </p>
                <p>
                    Segundo apurou o Superesportes, o Atlético ofereceu cerca de 3,5 milhões de euros pelo jogador.
                    Entretanto, as partes ainda discutem a forma de pagamento.
                    A diretoria atleticana se propôs a parcelar o valor, mas o Vasco quer a quantia à vista.
                </p>
                <p>
                    O diretor de futebol Alexandre Mattos disse que ainda não recebeu resposta da cúpula vascaína. 
                </p>
                <p>
                    “Não posso falar nada sobre isso. Você sabe como funciona essas coisas. O que posso dizer é que
                    estamos aguardando e pode ser que aconteça ou não. Ainda não obtive uma resposta do Vasco”, 
                    disse ao site Papo da Colina.
                </p>
                <p>
                    Marrony é um pedido do técnico Jorge Sampaoli para reforçar o ataque. Para concretizar a compra, o
                    Atlético conta com a ajuda dos parceiros MRV Engenharia e Banco BMG. 
                </p>
                <p>
                    A busca por jogadores de ataque se tornou prioridade no Atlético. Depois de afastar Ricardo Oliveira,
                    Franco Di Santo, Edinho e Clayton, o técnico Sampaoli ficou com poucas peças ofensivas no elenco: Diego Tardelli, 
                    Bruno Silva e Savarino.
                </p>
            </div>
            <footer>
                <nav>
                    <h2>Navegue no site</h2>
                    <ul>
                        <li><a href="..\..\index.html"><img src="..\imagens\icones\ico_inicio.png" width="30px" height="30px">Inicio</a></li> 
                        <li><a href="#"><img src="..\imagens\icones\ico_historico.png" width="30px" height="30px">Histórico de notícias</a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_colaborador.png" width="30px" height="30px">Seja um colaborarador</a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_quem_somos.png" width="30px" height="30px">Quem somos</a></li>
                    </ul>
                </nav>
                <nav>
                    <h2>Fique conectado !</h2>
                    <ul>
                        <li><a href="#"><img src="..\imagens\icones\ico_email.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_twitter.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_facebook.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_github.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_whatsapp.png" width="30px" height="30px"></a></li>
                    </ul>
                </nav>
                <small>Copyright © 2020 </small>
            </footer>
        </div>
    </body>
</html>