<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="..\css\estilo_noticias_EUA.css" rel="stylesheet">
        <title>News Today</title>
    </head>
    <body>
        <div id="banner">
            <div id="img-banner">
                <img src="..\imagens\banner\banner_news.png" alt="banner" width="210px" height="210px">
                <div id="cont-banner">News Today</div>
            </div>
        </div>
        <div id="conteudo">
            <nav id="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>|</li>
                    <li><a href="noticias.html">Notícias</a></li>
                    <li>|</li>
                    <li><a href="#">Destaques do dia</a></li>
                    <li>|</li>
                    <li><a href="#">Regiões</a></li>

                </ul>
            </nav>
            <h1>Estados Unidos</h1>
            <h2>Noticias dos esportes</h2>
           <div id="news_1">
               <div id="news_1_texto">
                <h3>Estados Unidos eliminados da Copa do mundo de 2022</h3>
                <p>Não conseguiram passar nem das eliminatórias, povo ruim</p>
                <a href="#">Ler mais...</a>
                    <div id="news_1_imagem">
                        <img src="..\imagens\sinopse\maradona.jpg" width="210px" height="220px">
                    </div>
               </div>
           </div>
           <footer>
            <nav>
                <h2>Navegue no site</h2>
                <ul>
                    <li><a href="..\..\index.html"><img src="..\imagens\icones\ico_inicio.png" width="30px" height="30px">Inicio</a></li> 
                    <li><a href="#"><img src="..\imagens\icones\ico_historico.png" width="30px" height="30px">Histórico de notícias</a></li>
                    <li><a href="#"><img src="..\imagens\icones\ico_colaborador.png" width="30px" height="30px">Seja um colaborarador</a></li>
                    <li><a href="#"><img src="..\imagens\icones\ico_quem_somos.png" width="30px" height="30px">Quem somos</a></li>
                </ul>
            </nav>
            <nav>
                <h2>Fique conectado !</h2>
                <ul>
                    <li><a href="#"><img src="..\imagens\icones\ico_email.png" width="30px" height="30px"></a></li>
                    <li><a href="#"><img src="..\imagens\icones\ico_twitter.png" width="30px" height="30px"></a></li>
                    <li><a href="#"><img src="..\imagens\icones\ico_facebook.png" width="30px" height="30px"></a></li>
                    <li><a href="#"><img src="..\imagens\icones\ico_github.png" width="30px" height="30px"></a></li>
                    <li><a href="#"><img src="..\imagens\icones\ico_whatsapp.png" width="30px" height="30px"></a></li>
                </ul>
            </nav>
            <small>Copyright © 2020 </small>
        </footer>
        </div>
    </body>
</html>