@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    background-image: url(fundo-banner-png4.png);
}

#conteudo{
    margin: 0 auto;
    padding: 110px;
    width: 750px;
    height: auto;
    border-radius: 10px;
    background-color: rgba(120, 85, 218, 0.63);
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

#conteudo h1{
    padding: 110px 0 50px 0;
    text-align: center;
    text-shadow: 0.05em 0.1em 0.1em black;
}

#menu{
    padding: 2px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(81, 111, 241);
}

#menu ul li{
    padding: 35px;
    display: inline;
}

#menu ul li a{
    padding: 18px;
    text-decoration: none;
    color: white;


}

#menu ul li :hover{
    color: rgb(47, 0, 255);
    background: white;
    text-shadow: 0.1em 0.1em 0.4em black;
}

#menu li ul :hover{
    background-color: white;
}

#banner{
    text-align: center;
}

#cont-banner{
    position: relative;
    bottom: 135px;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 30pt;

}



