@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    background-color: rgb(165, 211, 164);
    
}

#img-banner{
    text-align: center;
    
}

#conteudo{
    background-color: rgb(69, 102, 72);
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

#conteudo h1{
    padding: 50px 0 0 0;
    text-align: center;
    text-shadow: 0.05em 0.1em 0.1em black;
}

#conteudo h2{
    text-align: center;
    text-shadow: 0.05em 0.1em 0.1em black;
}

#conteudo p{
    font-size: 20pt;
    text-align: center;
    padding: 100px;
}

#menu{
    background-color: rgb(45, 65, 45);
    border-style: outset;
    text-align: center;
}

#menu ul li{
    display: inline;
    color: rgb(0, 255, 42);
    font-size: 18pt;
    padding: 25px;
}

#menu ul li a{ 
    padding: 18px;
    color: rgb(18, 230, 53);
    text-decoration: none;
    font-style: unset;


}

#menu ul li :hover{
    text-shadow: 0.1em 0.1em 0.4em black;
}

#banner{
    text-align: center;
}

#cont-banner{
    position: relative;
    bottom: 135px;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 30pt;

}

#paises{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(45, 65, 45);
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    font-size: 15pt;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    left: 57px;
}

#div_pais{
    padding: 70px;
}

#interesses{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(45, 65, 45);
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    font-size: 15pt;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}

#div_interesses{
    padding: 50px;
}

#div_interesses b{
    font-size: 16pt;
    text-shadow: 0.05em 0.1em 0.1em black;
}

#div_pais b{
    font-size: 16pt;
    text-shadow: 0.05em 0.1em 0.1em black;
}

#pesquisar button{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20pt;
    position: relative;
    left: 550px;
    bottom: 200px;
    padding: 50px 20px 50px 20px;
    border-radius: 20px;
    border-style: inherit;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(45, 65, 45);
    color: rgb(255, 255, 255);

}

#pesquisar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 35px;

}

#pesquisar :hover{
    background-color: rgb(69, 102, 72);
    font-style: normal;
    font-size: 20pt;
}


